body {
    background: linear-gradient(to center, #000, #737373)
}
* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    }
    

footer {
    position: fixed;
    display: flex;
    padding: 20px 40px;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background-color: #ffbf00;
    height: 60px;
    font-size: 35px;
}
footer a{
    color: #000;
}
